*{
    font-size: 18px;
}


#navbar1{
    width: 100%;
    height: 90px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    /* padding-left: 20px; */
    margin-top: -20px;
}
#image{
    width: 70%;
    height: 100%;
    padding-left: 10px;
    /* border: 1px solid black; */
}
#img{
    width: 100%;
    height: 40%;
    margin-top: 33px;
}
#main{
    display: flex;
    gap: 50px;
    width: max-content;
    height: 50%;
    /* border: 1px solid red; */
    margin-top: 20px;
}
#input{
    width: 800px;
   
    margin-left: -110px;
   /* border: 1px solid red; */
}
#search{
    width: 90%;
    height: 45px;
    margin-top: 30px;
    margin-left: 20px;
    padding-left: 30px;
    border:0.5px solid rgb(209, 205, 205);
}

#cart{
    margin-right: 30px;
}
#div{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
#sign{
    background-color: white;
    color: black;
    border: none;
    margin-top: 15px;
}
#cart{
    width: 28px;
    height: 50%;
    cursor: pointer;
    margin-top: 13px;
    margin-left: -20px;
}
#box{
    width: 300px;
    padding: 15px;
}
#btn{
    width: 270px;
    background-color: black;
    color: white;
    padding: 8px 20px 8px 20px;
    margin-bottom: 10px;
}
.h6{
    margin-top: 20px;
}
.h6:hover{
    cursor: pointer;
    text-decoration: underline;
}
.p:hover{
    cursor: pointer;
    text-decoration: underline;
}
#menu{
    width: 85%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.div1:hover{
    cursor: pointer;
    text-decoration: underline;
}
#imgg{
    width: 100%;
    height: 100%;
}
#i{
    margin-right: 10px;
}
#i1{
    margin-left: -715px;
}
#sign1{
    background-color: white;
    color: rgb(40, 37, 37);
    border: none;
}
#sign1:hover{
    text-decoration: underline;
    font-weight: bold;
}

#box1{
    width: 1480px;
    /* border: 1px solid black; */
    height:max-content;
    /* transition: 0.5s; */
    padding-left: 25px;
    padding-right: 50px;
    /* margin-left: -120px; */
}
#main_sales{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    gap: 30px;
}
#sales{
    width: 300px;
    height: max-content;
    /* border: 1px solid red; */
}
#sales1{
    width: 300px;
    height: max-content;
    /* border: 1px solid red; */
}
#sales2{
    width: 300px;
    height: max-content;
    /* border: 1px solid red; */
}
#sales3{
    width: 380px;
    height: max-content;
    /* border: 1px solid red; */
}
#sales35{
    width: 90px;
    height: max-content;
    /* border: 1px solid red; */
}
#sales4{
    width: 450px;
    height: max-content;
    /* border: 1px solid red; */
}

.p1{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.p1:hover{
    color: black;
    text-decoration: underline;
}
b:hover{
    cursor: pointer;
    text-decoration: underline;
}
#box2{
    position: relative;
}
#box1{
    visibility: hidden;
    position: absolute;
    opacity: 0;
    margin-top: 32px;
}
#box2:hover #box1{
    visibility: visible;
    opacity: 1;
    z-index:10000; 
    transition: 0s;
    background-color:white;
    margin-top: 70px;
}
#signning{
    position: relative;
}
#box{
    background-color: white;
    margin-left: -180px;
    margin-top: 45px;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
#signning:hover #box{
    z-index:10000; 
    background-color:white;
    visibility: visible;
    opacity: 1;
    
}
.box3{
    margin-left: -1300px;
    
}
.box4{
    margin-left: -1200px;
}
.box5{
    margin-left: -1070px;
}
.box6{
    margin-left: -960px;
}
.box7{
    margin-left: -850px;
}
.box8{
    margin-left: -700px;
}
.box9{
    margin-left: -540px;
}
.box10{
    margin-left: -440px;
}
.box11{
    margin-left: -330px;
}
.box12{
    margin-left: -210px;
}
.box13{
    margin-left: -110px;
}
.saleimg{
    margin-top: 40px;
    margin-left: -40px;

}
