#create{
    width: 100%;
    height: max-content;
    /* border: 1px solid black; */
    margin-top: 80px;
}

#create1{
    width: 500px;
    height: 450px;
    border: 1px solid white;
    margin: auto;
    padding-left: 80px;
    padding-right: 65px;
}
#p{
    font-size: 25px;
    color: rgb(53, 53, 53);
}
.svg{
    margin-right: 30px;
}
#btn3{
    width: 350px;
    height: 40px;
    margin-top: 40px;
    background-color: white;
    border: 1px solid grey;
    color: grey;
}
#btn3:hover{
    background-color: grey;
    color: white;
}
#Name{
   
        font-size: 25px;
        color: rgb(53, 53, 53);
 
}
