#BOX1 {
    width: 100%;
    height: 4400px;
    margin: auto;
    display: flex;
    /*border: 5px solid blue;*/
}

h1 {
    color: #393939;
    font: 19px "Brandon Text", Arial, sans-serif;
    margin: 25px 0px 0px;
}

#BOX {
    width: 25%;
    height: 1300px;
    gap: 5px;
    padding: 20px;
    color: black;
    /*border: 3px solid black;*/
}

#ox {
    width: 100%;
    height: 4300px;
    padding: 30px;
    /*border: 3px solid black;*/
}

#s1 {
    width: 20%;
    height: 700px;
    /*border: 5px solid black;*/
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#s2 {
    display: flex;
    gap: 25px;
    text-align: center;
    margin-bottom: 50px;
}

#s2>div {
    width: 50%;
    height: 450px;
    /*border: 5px solid black;*/
}

#s2>div>img {
    width: 150px;
    border-image-width: 80%;
    height: 80%;
    padding: 20px;
}

#s {
    width: 99.2%;
    height: 500px;
    display: flex;
    gap: 3px;
    margin-bottom: 50px;
    /*border: 5px solid burlywood;*/
}

.q1 {
    width: 60%;
    height: 400px;
    /*border: 5px solid violet;*/
}

#s>.q1>img {
    width: 90%;
    height: 500px;
}

.q2 {
    width: 50%;
    height: 400px;
    /*border: 5px solid gold;*/
}

#s>.q2>div {
    margin-top: 80px;
}

#s3 {
    display: flex;
    margin-bottom: 50px;
    margin-left: auto;
    gap: 20px;
}

#s3>div {
    width: 100%;
    height: 600px;
    /*border: 5px solid red;*/
}

#s3>div>img {
    height: 600px;
    width: 100%;
    margin: auto;
}

#s3>div>h2 p u {
    color: #000000;
    font: 25px "Brandon Text", Arial, sans-serif;
}

#s4 {
    width: 100%;
    height: 500px;
    display: flex;
    padding: 5px;
    margin-bottom: 50px;
    /*border: 5px solid yellow;*/
}

#s4>img {
    width: 100%;
    height: 500px;
}

#s5 {
    width: 100%;
    display: flex;
    gap: 5px;
    padding: 5px;
    margin-bottom: 50px;
}

#s5>.v1 {
    width: 62%;
    height: 300px;
    padding: 50px;
    /*border: 5px solid green;*/
    background-color: rgb(246, 239, 246);
}

#s5>.v2 {
    width: 40%;
    height: 300px;
    /*border: 5px solid green;*/
    background-color: rgb(246, 239, 246);
}

#s5>.v2>img {
    width: 100%;
    border-image-width: 90%;
    height: 300px;
    padding: 20px;
}

#s6 {
    width: 92.6%;
    display: flex;
    margin-bottom: 50px;
    padding: 50px;
    /*border: 5px solid blueviolet;*/
}

#s6>.v3 {
    width: 100%;
    height: 300px;
    padding: 50px;
    margin-top: 20px;
    /*border: 5px solid brown;*/
}

#s6>.v4 {
    width: 100%;
    height: 300px;
    padding: 50px;
    /*border: 5px solid brown;*/
}

#s6>.v4>img {
    width: 100%;
    height: 300px;
}

#s7 {
    width: 92.6%;
    display: grid;
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
    /*border: 5px solid black;*/
}

#s9>img {
    width: 99.2%;
    height: 250px;
    margin-bottom: 50px;
    /*border: 5px solid yellowgreen;*/
}

#s10>img {
    width: 99.2%;
    height: 250px;
    margin-bottom: 50px;
    padding: 5px;
}

#s11 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: auto;
    text-align: center;
}

#s11>div {
    margin: auto;
    width: 100%;
    height: 150px;
}

#s11>div>h2 {
    margin: auto;
    margin-right: 25%;
}