




#create{
    width: 100%;
    height: max-content;
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-bottom: 10%;
}

#create1{
    width: 500px;
    height: 750px;
    border: 1px solid white;
    margin: auto;
    padding-left: 80px;
}
#bold{
    font-size: 25px;
    font-weight: 450;
    margin-top: 70px;
}
.p1{
    font-size: 13px;
}
i{
    margin-right: 7px;
}
.N{
    width: 350px;
    height: 40px;
}
#btn2{
    width: 350px;
    height: 40px;
    margin-top: 20px;
    background-color: black;
    color: white;
}
.p2{
    margin-bottom: 2px;
    margin-top: 25px;
}